
:root{
  --blue:#2e445e;
  --light-gray:#e8e8e8;

  --bg-color:#e5e5e5;
  


  --turquoise: #bfe0e4;
  --light-blue:#accde1;
  --violet-blue:#a7bade;
  --violet: #afb6e3;
  --black:#000000;

}



main {
  color: var(--blue);
  background: var(--bg-color);
  font-family: var(--font-jlato);
}



h2{
  font-family: var(--font-jet-brain-mono);
  font-weight: 500 !important;

}

h3{
  font-family: var(--font-jet-brain-mono);
  font-weight: 400 !important;
  font-size:x-large !important;
  color: var(--blue) !important;

}


.blue-paragraph{
  color: var(--light-gray);
  background: var(--blue);
  font-family: var(--font-jlato);

}

.card-img-top{
  border-radius: 0% !important;
}

.card{
  border-width : 0 !important;
  border-radius: 2% !important;
  background-color: #ffffffe6 !important;
}


.card-body, .card-header, .card-img-top{
  background-color: #ffffff00 !important;
  color:#222222 !important;
}




.bg-education-cards{
  background-color: #ffffff56 !important;
}

.accordion{
  background-color: #00000000 !important;
  max-width: 500px !important;
}

.accordion-body, .accordion-button{
  background-color: #ebebebeb !important;
}

.bg-custom-orange{
  background-color: #ea8b27c1 !important;
}

.bg-custom-green{
  background-color: #58a826c1 !important;
}

.bg-custom-red{
  background-color: #b33e17c1 !important;
}

.bg-custom-blue{
  background-color: #1b6d9ac1 !important;
}

nav{
  background-color: rgba(255, 255, 255, 0.7);

}
.nav-item:hover{
  background-color: rgba(173, 186, 201, 0.7);

}

.navbar-brand{
  font-family: var(--font-jet-brain-mono);

}


section {
  scroll-margin-top: 70px; /* Ajustez en fonction de la hauteur de votre barre */
}

/* Taille et apparence par défaut */
.arrow-icon {
  font-size: 15rem; /* Définit la taille de l'icône */
  color: #ececec; /* Couleur initiale */
  transition: transform 0.3s, color 0.3s; /* Animation fluide pour les changements */
}

/* Effet au survol */
.arrow-link:hover .arrow-icon {
  transform: scale(1.2); /* Agrandit légèrement l'icône */
}
