
:root{
  --blue:#4F6886;
  --gray:#ececec;

  --turquoise: #bfe0e4;
  --light-blue:#accde1;
  --violet-blue:#a7bade;
  --violet: #afb6e3;
  --black:#000000;

}



main {
  color: var(--blue);
  background: var(--gray);
  font-family: var(--font-jlato);
}



h2{
  font-family: var(--font-julius-sans-one);
}

h3{
  font-family: var(--font-julius-sans-one);
}


.blue-paragraph{
  color: var(--gray);
  background: var(--blue);
  font-family: var(--font-jlato);

}

.skillbadge {
  height: 40px; 
  width: auto; 
}

section {
  scroll-margin-top: 70px; /* Ajustez en fonction de la hauteur de votre barre */
}

/* Taille et apparence par défaut */
.arrow-icon {
  font-size: 15rem; /* Définit la taille de l'icône */
  color: #ececec; /* Couleur initiale */
  transition: transform 0.3s, color 0.3s; /* Animation fluide pour les changements */
}

/* Effet au survol */
.arrow-link:hover .arrow-icon {
  transform: scale(1.2); /* Agrandit légèrement l'icône */
}
